<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--
        SpringAOP详看《Spring3.X企业应用开发实战》第6章
        http://blog.csdn.net/upxiaofeng/article/details/38730417
        http://blog.csdn.net/leon709/article/details/9529307
     -->

    <bean id="testInterceptor" class="org.seckill.interceptor.TestInterceptor"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="testPointcut" expression="execution(* org.seckill.service..*.*(..))"/>
        <aop:advisor advice-ref="testInterceptor" pointcut-ref="testPointcut"/>
    </aop:config>
</beans>